/*

!.gitignore
!client
!server

data
server/__pycache__/
client/__pycache__/
__pycache__/
client/USC-HAD/datasets
client/FLASH/datasets
client/MHAD-data

client/FLASH-data.zip
client/MHAD-data.zip
client/USC-data.zip
client/.DS_Store
client/FLASH/models/gps.pth
client/FLASH/models/image.pth
client/FLASH/models/lidar.pth
client/USC-HAD/.DS_Store
client/FLASH/models/gps_encoder.pth
client/FLASH/models/gpslidarimage.pth
client/FLASH/models/image_encoder.pth
client/FLASH/models/lidar_encoder.pth
client/FLASH/.DS_Store
client/FLASH/models/.DS_Store

client/MHAD/datasets

server/test_datasets
client/exe.bash

server/RL/reward_model
client/USC/datasets
client/USC/models
client/USC/.DS_Store

client/CREMAD/datasets
client/CREMAD/test.py
client/CREMAD_lazyloading/datasets
client/CREMAD_lazyloading/test.py
/home/chenxu/codes/ichibanFATE/client/__MACOSX