/*

!.gitignore
!client
!server

data
server/__pycache__/
client/__pycache__/
__pycache__/
client/USC-HAD/datasets
client/FLASH/datasets
client/MHAD-data

client/FLASH-data.zip
client/MHAD-data.zip
client/USC-data.zip
client/.DS_Store
client/FLASH/models/gps.pth
client/FLASH/models/image.pth
client/FLASH/models/lidar.pth
client/USC-HAD/.DS_Store
